.home{
    background-image:url('https://images.pexels.com/photos/5686112/pexels-photo-5686112.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size:cover;
    height: 609px;
    position: relative;

}

.navbar-brand{
    font-weight: bolder;
    color: white;
}
.nav-link{
    color: white;
    transition: none;
}


.layer {
    background-color: rgba(0, 0, 0, 0.589);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.homeData{
    color: white;
    display: flex;
    justify-content: center;
   margin-top: 100px;
    
}
.homeButton{
    background-color: rgb(88, 220, 88);
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-left: 60px;
    border: none;
    margin-top: 30px;
    margin-left: 525px;
    font-weight: bolder;
    
}
.text{
    margin-left: 40px;
}
.loginButton{
background-color: rgb(69, 209, 69);
font-weight: bolder;
color: rgb(255, 255, 255);
}
.regLink{
    color: white;
    font-weight: bolder;
}
.home2{
    background-color: rgb(223, 221, 221);
    
    height: 500px;
    color: black;
}
.home2 .layer {
    background-color: rgba(0, 0, 0, 0.185);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home2 .image{
    background-image: url('https://images.pexels.com/photos/6266275/pexels-photo-6266275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    height: 300px;
    width: 400px;
    background-size: cover;
   position:absolute;
   margin-top: 100px;
    margin-left: 650px;
    background-color: rgb(224, 219, 219);

}
.home2 .text{
   margin-top: 200px;
    color: black;
    margin-left: 200px;
    position: absolute;
}
.home2 .btn{
    background-color: rgb(69, 209, 69);
    color: white;
    font-weight: bolder;
    margin-top: 10px;
}
.home3{
    background-color: rgb(255, 255, 255);
    
    height: 500px;
    color: black;

}
.home3 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
    
    
}
.home3 .card-header{
    color: white;
    font-weight: bolder;
    
    background-color: rgb(69, 209, 69);
}
.home3 .head{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    
}
.home4{
    background-color:rgb(223, 221, 221);
    
    height: 500px;
    color: black;


}
.home5{
    background-color: rgb(51, 50, 50);
    
    height: 500px;
    color: black;


}
