.otp{
    background-color: rgb(236, 233, 233);
    margin-top: 125px;
   width: 400px;
    border-radius:10px ;
    margin-left: 425px;
    padding-top: 20px;
    padding-bottom: 20px;  
    color: black;
    
}
.otp .form{
 margin-left: 50px;   
}
.otp .fields{
    width: 250px; 
    margin-left:-80px ;
   }
   .otp .form-control{
    background-color: rgb(255, 255, 255);
    border: none;
   }
.otp .btn{
    background-color: rgb(58, 205, 58);
    border: none;
    margin-top: 10px;
}
.otp .text-center{
margin-left: 35px;
}
body{
 
    background-color: white;
   
}
