.userprofileedit{
    background-color: rgb(52, 52, 52);
    margin-top: 125px;
   width: 400px;
    border-radius:10px ;
    margin-left: 425px;
    padding-top: 20px;
    padding-bottom: 20px;  
    
}
.userprofileedit .form{
 margin-left: 50px;   
}
.userprofileedit .fields{
    width: 250px; 
    margin-left:-80px ;
   }
   .userprofileedit .form-control{
    background-color: rgb(239, 234, 234);
    border: none;
   }
.userprofileedit .btn{
    background-color: rgb(58, 205, 58);
    border: none;
    margin-top: 10px;
}
.userprofileedit .text-center{
margin-left: 35px;
}
body{
 
    background-color: white;
   
}
