.body
{
    background-color:rgb(52,52,52);
    margin-top: 0px;
    background-size:cover;
    position: relative;
}
.body #account{
    color: white;
}
.navbar-brand
{
    font-weight: bolder;
    color: white;
}

